{% extends 'layout/base.html' %}

{% block title %} Quitanda online :: Pedidos {% endblock %}
{% block content %}
<main class="flex-fill">
    <div class="container">
        <h1>Minha Conta</h1>
        <div class="row gx-3">
            <div class="col-4">
                {% include 'menu_cliente.html' %}
            </div>
            <div class="col-8">
                <form action="">
                    <div class="form-floating mb-3 col-md-8">
                        <input class="form-control" type="email" id="txtEmail" placeholder=" " value="{{dados['email']}}" autofocus/>
                        <label for="txtEmail">E-mail</label>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input class="form-control" type="text" id="txtTelefone" placeholder=" " value="{{dados['fone']}}"  />
                        <label for="txtTelefone">Telefone</label>
                    </div>     
                    <button type="submit" class="btn btn-lg btn-danger">Salvar</button>                       
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}